<!DOCTYPE html>
<html >
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="ModuleA.js"></script>
<meta charset=utf-8 />
<title>JS Bin</title>
</head>
<body ng-app="ModuleA">

<div ng-controller="MsgController">

 {{ Message  }}

</div>

<div ng-controller="PhoneListCtrl">
<div class="col-md-2">
      Search: <input ng-model="query">
    </div>
    <div class="col-md-10">
      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query">
          {{phone.name}}
          <p>{{phone.snippet}}</p>
        </li>
      </ul>
    </div>
<div>
</div>
</body>
</html>